<!DOCTYPE html>
<html>

  <head>

    <meta charset = "utf-8" />

    <title>选课系统</title>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/static/css/Selection.css">

    <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="/static/js/Selection.js"></script>
    
  </head>
        
  <body>

    <div id="CourseInfoDiv" class="main">

      <table id="CourseInfo" class="CourseInfoTable">

        <tr class="CourseInfoRow">
          <td class="CourseInfoTable CourseInfoTitle"><B>课程名称</B></td>
          <td class="CourseInfoTable CourseInfoContent"><B><select id="CourseNameDroplist" onchange='Name_Droplist_Change({{Courses|safe}})'></select></B></td>
        </tr>

        <tr class="CourseInfoRow">
          <td class="CourseInfoTable CourseInfoTitle" bgcolor="#FEB6A6">课程简介</td>
          <td class="CourseInfoTable CourseInfoContent" bgcolor="#FEB6A6"><button id="CourseInfoModalBtn" onclick="$('#CourseInfoModal').modal('show')" type="button">详细</button></td>
        </tr>

        <tr class="CourseInfoRow">
          <td class="CourseInfoTable CourseInfoTitle">授课老师</td>
          <td class="CourseInfoTable CourseInfoContent" id="CourseTeacher"></td>
        </tr>

        <tr class="CourseInfoRow">
          <td class="CourseInfoTable CourseInfoTitle" bgcolor="#FEB6A6">授课地点</td>
          <td class="CourseInfoTable CourseInfoContent" bgcolor="#FEB6A6" id="CoursePlace"></td>
        </tr>

        <tr class="CourseInfoRow">
          <td class="CourseInfoTable CourseInfoTitle">班级人数</td>
          <td class="CourseInfoTable CourseInfoContent" id="CourseTotal"></td>
        </tr>

        <tr class="CourseInfoRow">
          <td class="CourseInfoTable CourseInfoTitle" bgcolor="#FEB6A6">已经报名人数</td>
          <td class="CourseInfoTable CourseInfoContent" bgcolor="#FEB6A6" id="CourseCurrent"></td>
        </tr>

      </table>

      <div style="margin:auto" class="text-center" id="CourseActionDIV"></div>
      
    </div>

    <div class="modal fade" id="CourseInfoModal" tabindex="-1" role="dialog" aria-labelledby="CourseInfoModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="CourseInfoModalLabel">
				</h4>
                                <button type="button" class="btn btn-default btn-lg" onclick="$('#CourseInfoModal').modal('hide')">
					&times;
				</button>
			</div>
			<div class="modal-body" id="CourseInfoModalBody">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" style="border: 1px black solid;" onclick="$('#CourseInfoModal').modal('hide')">关闭
				</button>
			</div>
		</div>
	</div>
    </div>

    <script>

     function Course_Action_btn(Course_ID, Action_Type){

         Course_Action(Course_ID, {{Student_ID|safe}}, Action_Type);
         
     }

     init_Selection_Index({{Courses|safe}});
     
    </script>
    
  </body>
  
</html>
