<!DOCTYPE html>
<html>

  <head>

    <meta charset = "utf-8" />

    <title>选课系统</title>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/static/css/Selection.css">

    <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="/static/js/Selection.js"></script>
    
  </head>
        
  <body>

    <div id="CourseInfoDiv" class="main">

      <table id="CourseInfo" class="CourseInfoTable">

        <tr>
          <td class="CourseInfoTable"><B>课程名称</B></td>
          <td class="CourseInfoTable"><B>{{Course.Name|safe}}</B></td>
        </tr>

        <tr>
          <td class="CourseInfoTable" bgcolor="#FEB6A6">课程简介</td>
          <td class="CourseInfoTable" bgcolor="#FEB6A6"><button id="CourseInfoModalBtn" onclick="$('#CourseInfoModal').modal('show')" type="button">详细</button></td>
        </tr>

        <tr>
          <td class="CourseInfoTable">授课老师</td>
          <td class="CourseInfoTable">{{Course.Teacher|safe}}</td>
        </tr>

        <tr>
          <td class="CourseInfoTable" bgcolor="#FEB6A6">授课地点</td>
          <td class="CourseInfoTable" bgcolor="#FEB6A6">{{Course.Place|safe}}</td>
        </tr>

        <tr>
          <td class="CourseInfoTable">班级人数</td>
          <td class="CourseInfoTable">{{Course.Total|safe}}</td>
        </tr>

        <tr>
          <td class="CourseInfoTable" bgcolor="#FEB6A6">已经报名人数</td>
          <td class="CourseInfoTable" bgcolor="#FEB6A6">{{Course.Current|safe}}</td>
        </tr>

                
      </table>

      <div style="margin:auto" class="text-center">

        {% if Valid == 0 %}

          <br>
          <button class="btn btn-primary" onclick="Course_Action_btn('Apply')" style="background-color:#FA603F">点击报名</button>

        {% elif Valid == 1 %}

          <br>

          <button class="btn btn-primary" onclick="Course_Action_btn('Cancel')" style="background-color:#898786">确认取消</button>

        {% endif %}

      </div>
      
    </div>

    <div class="modal fade" id="CourseInfoModal" tabindex="-1" role="dialog" aria-labelledby="CourseInfoModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="CourseInfoModalLabel">
					{{Course.Name|safe}}简介
				</h4>
                                <button type="button" class="btn btn-default btn-lg" onclick="$('#CourseInfoModal').modal('hide')">
					&times;
				</button>
			</div>
			<div class="modal-body">
				{{Course.Info|safe}}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" style="border: 1px black solid;" onclick="$('#CourseInfoModal').modal('hide')">关闭
				</button>
			</div>
		</div>
	</div>
    </div>

    <script>

     
     function Course_Action_btn(Action_Type){

         Course_Action({{Course.ID|safe}},{{Student_ID|safe}},Action_Type);
         
     }
     
    </script>
    
  </body>
  
</html>
