
#CourseSummaryDiv{

    position: absolute;
    top:20%;
    margin-top:-50px;
    width: 100%;
    text-align: center;

}

#CourseSummaryTable{

    margin: auto;
    text-align: center;
    border:1px;
    border-color:#FF603E;
    border-style:solid;
    
}

.CourseRow:nth-child(even){

    background-color: #FEB6A6;
    
}

.CourseRow{

    height: 40px;
    
}

.ContentCol{

    width: 90px;
    
}

.AttendNumber{

    width: 110px;
    
}

.SummaryLink{

    text-decoration: none;
    color: black;
    
}
