
#CourseManageDiv{

    position: absolute;
    top:20%;
    margin-top:-50px;
    width: 100%;
    text-align: center;
    
}

#CoursesTable{

    margin: auto;
    text-align: center;
    border:1px;
    border-color:#FF603E;
    border-style:solid;
    
}

.Name{

    width: 100px;
    
}

.Info{

    width: 100px;
    
}

.Teacher{

    width: 100px;
    
}

.Place{

    width: 100px;
    
}

.Avail{

    width: 150px;
    
}

.Time{

    width: 150px;
    
}

.Number{

    width: 100px;
    
}
